!!!
%html
  %head
    %title BDDProject
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .container-narrow
    .masthead
      = render 'layouts/user_header'
      %h3.muted= link_to "BDD Ruby", root_path
      %h5.muted Bon Chance!
    %hr/
    = yield